<div class="page-section" id="portfolio-section">
    <p>Here's a list of projects I've been working on intermittently for various spans of time.</p> 
    
    <p>Follow the link to the Github repo to read more about each one.</p>

    
    {% assign portfolio = site.data.portfolio %}
    
    <div id="portfolio">
        {% for project in portfolio %}
        <div class="portfolio-project">
            <div class="project-name">
                {{ project.name }}
            </div>
    
            <div class="project-language">
                {{ project.language}}
            </div>
    
            <div class="project-links">
                {% for link in project.links %}
                <div>
                    {% if link.repo %}
                    <a class="github-link" href="https://github.com/wstrother/{{ link.repo }}">
                        {{ link.text }}
                    </a>
                    {% endif %}
    
                    {% if link.url %}
                    <a class="github-link" href="{{ link.url }}">
                        {{ link.text }}
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
    
            <div class="project-description">
                {{ project.description}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>