{% assign programming = site.data.resume.programming %}

<div class="resume-programming">

    {% for lang in programming %}
    <div class="resume-language">
        <span class="name">
            {{ lang.name }}
        </span>
        
        <span class="timeframe">
            {{ lang.timeframe }}
        </span>
                
        {% if lang.frameworks %}
        <div class="resume-frameworks">
            
            {% for f in lang.frameworks %}
            <div class="framework">
                <span class="name">
                    {{ f.name }}
                </span>
                
                <span class="timeframe">
                    {{ f.timeframe }}
                </span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
    </div>
    {% endfor %}

</div>