<script src="assets/js/html2pdf.bundle.min.js"></script>

<div id="resume">
    {%- include resume-contact.html -%}

    {%- include resume-summary.html -%}

    {%- include resume-programming.html -%}

    {%- include resume-other.html -%}

    {%- include resume-education.html -%}

    {%- include resume-references.html -%}
</div>

<script>

const options = {
    margin:       0.1,
    filename:     'resume.pdf',
    image:        { type: 'jpeg', quality: 0.98 },
    html2canvas:  { scale: 2 },
    jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
}

</script>

<button onclick="html2pdf(document.getElementById('resume'), options);">
    Get PDF
</button>