body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url('../images/website-bg.jpg');
    background-color: rgb(54, 73, 54);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;
}

content {
    @include pretty-font(12pt);
    display: block;
    padding: 3px;

    @media screen and (min-width: 700px) {
        width: 75%;
        margin-right: 5rem;
    }
    color: white;
}

a {
    color: white;
}

.nav-header {
    width: 100%;
    @extend %panel-bg;
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 700px) {
        justify-content: space-around;
    }

    margin-bottom: 1rem;

    position: fixed;
    top: 0;
    right: 0px;
}

.nav-link {
    @extend %link-block;
    @include pretty-font(14pt);

    &.current {
        background-color: rgba(0, 0, 0, .25);
    }
}

span.nav-link {
    cursor: default;
}

.page-section {
    padding-top: calc((#{$link-padding} * 2) + #{$link-height} + 5px);
    min-height: 90vh;
}

@import 'portfolio';