$sans-font-name: 'Quicksand', 'Arial', sans-serif;
$serif-font-name: 'Saira', 'Times New Roman', serif;

@mixin pretty-font($size) {
    font-size: $size;
    font-family: $sans-font-name;
}

@mixin serif-font($size) {
    font-size: $size;
    font-family: $serif-font-name;
}

$panel-color: #3c4653;
$clear-panel-color: darken(fade-out($color: $panel-color, $amount: 0.2), 10%);

%panel-bg {
    border-bottom: 1px solid black;
    background-color: $panel-color;
}

%clear-panel {
    background-color: $clear-panel-color;
}

$link-padding: 20px;
$link-height: 30px;

%link {
    text-decoration: none;
    height: $link-height;

    &:hover {
        text-decoration: underline;
    }
}

%link-block {
    @extend %link;
    padding-top: $link-padding;
    padding-bottom: $link-padding;
    display: block;
}