#portfolio {
    display: flex;
    flex-direction: column;
}

.portfolio-project {
    margin-bottom: 15px;
}

.project-name {
    @include pretty-font(16pt);
    font-variant: small-caps;
}

.project-links {
    display: flex;
    flex-direction: column;
}