#portfolio {
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column
    }
}

$col-width: 150px;

.portfolio-project {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: $col-width auto;
    @extend %clear-panel;
    margin-left: 1rem;
}

.project-name {
    @include pretty-font(16pt);
    @extend %panel-bg;
    padding: 5px 5px 5px 1rem;
    margin-bottom: 0.5rem;
    height: 34px;
    font-variant: small-caps;
    grid-column-start: 1;
    grid-column-end: 3;
}

.project-language {
    @include pretty-font(12pt);
    padding-left: $col-width;
    margin-bottom: 0.5rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.project-links {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    * {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.project-description {
    padding-right: 1rem;
}
